/* Light mode styles */
.form-container {
    background-color: #f0f0f0; /* light gray */
    color: rgb(0, 0, 0); /* dark gray */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Dark mode styles */
.form-container.dark-mode {
    background-color: #333; /* dark gray */
    color: #000000; /* light gray */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #000000; /* light gray */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #666; /* medium gray */
    border-radius: 5px;
    font-size: 16px;
    background-color: #444; /* dark gray */
    color: #f0f0f0; /* light gray */
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff; /* blue */
    color: #fff; /* white */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* dark blue */
}
